.App {
  min-width: 100%;
}

.main-header {
  background-color: #282c34;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
}

.app-title {
  margin-left: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.app-title:hover {
  color: white;
}

.user-info {
  margin-left: auto;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}

.user-info:hover {
  cursor:pointer;
}

.user-icon {
  margin-right: 0.8rem;
  font-size: 1.5rem;
}

.user-name {
  font-size: 1rem;
}